<header class="header">
    <div class="controls">
        <div class="control " data-id="home" title="home" routerLink="/home" routerLinkActive="active-btn" >
            <fa-icon [icon]="faHome" ></fa-icon>
        </div>
        <div class="control" data-id="about" title="About" routerLink="/about" routerLinkActive="active-btn" >
            <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="control" data-id="portfolio" title="Portfolio" routerLink="/portfolio" routerLinkActive="active-btn" >
            <fa-icon [icon]="faBriefcase"></fa-icon>
        </div>
        <div class="control" data-id="blogs" title="Blogs" routerLink="/blogs" routerLinkActive="active-btn" >
            <fa-icon [icon]="faNewspaper"></fa-icon>
        </div>
        <div class="control" data-id="contact" title="Contact me" routerLink="/contact" routerLinkActive="active-btn" >
            <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
        </div>
    </div>
    
</header>