
<section class="container active about" id="about">
    <div class="main-title">
        <h2>About <span>me</span><span class="bg-text">my stats</span></h2>
    </div>
    <div class="about-container">
        <div class="left-about">
            <h4>Information About me</h4>
            <p>
                I am a creative Frontend Engineer and a Self-Learner. I have always been passionate about everything related to technology and programming, especially the web professions, which I made my career by always giving the best I can as a Web Developer. I always find coding a very engaging hobby, bringing a Code up to life & taking shape step-by-step is a blast. Besides coding, I like to travel to new places and discover new ideas.
            </p>
            <div class="btn-con">
                <a href="https://drive.google.com/file/d/1T9WKRv8V4T8uDiJ3FbsH5XxgrfFLDKsV/view?usp=share_link" target="_blank" class="main-btn">
                    <span class="btn-text">Download CV</span>
                    <span class="btn-icon"> <fa-icon [icon]="faDownload"></fa-icon> </span>
                </a>
            </div>
        </div>
        <!-- <div class="right-about">
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">650+</p>
                    <p class="small-text">Projects <br /> Completed</p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">10+</p>
                    <p class="small-text">Years of <br /> experience</p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">300+</p>
                    <p class="small-text">Happy <br /> Clients</p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">400+</p>
                    <p class="small-text">Customer <br /> reviews</p>
                </div>
            </div>
        </div> -->
        <div class="about-stats">
            <h4 class="stat-title">My Skills</h4>
            <div class="progress-bars" >
                <div class="progress-bar" *ngFor="let s of skills">
                    <p class="prog-title">{{s.skill}}</p>
                    <div class="progress-con">
                        <p class="prog-text">{{s.progress}}</p>
                        <div class="progress">
                            <span class="html" style="width:{{s.progress}}"></span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <h4 class="stat-title">My Timeline</h4>
    <div class="timeline">
        <div class="work-education">
            <div class="work-education-item" (click)="work=false" [class.aboutActive]="!work" >
                <fa-icon [icon]="faUserGraduate"></fa-icon>Education
            </div>
            <div class="work-education-item" (click)="work=true" [class.aboutActive]="work" >
                <fa-icon [icon]="faLaptopCode"></fa-icon>Work
            </div>
        </div>
        <div class="timeline" *ngIf="work">
            <div class="timeline-item" *ngFor="let exp of experience">
                <div class="tl-icon">
                    <fa-icon [icon]="faLaptopCode"></fa-icon>
                </div>
                <p class="tl-duration">{{exp.joining_date}} - {{exp.leaving_date}} </p>
                <h5> {{exp.position}} <span> - {{exp.company}} </span></h5>
                <ul>
                    <li style="list-style:circle;" *ngFor="let workResp of exp.workResponsibility">{{workResp}} </li>
                </ul>
            </div>
        </div>
        <div class="timeline" *ngIf="!work">
            <div class="timeline-item" *ngFor="let exp of education">
                <div class="tl-icon">
                    <fa-icon [icon]="faUserGraduate"></fa-icon>
                </div>
                <p class="tl-duration">{{exp.joining_year}} - {{exp.passing_year}} </p>
                <h5> {{exp.graduation}} <span> - {{exp.institute}} </span></h5>
            </div>
        </div>
        
    </div>
</section>