.theme-btn {
    z-index: 100;
    top: 0.7rem;
    right: 3%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    transition: all .1s ease-in-out;
    &:active{ transform: translateY(-3px); }
    fa-icon{
        font-size: 1.4rem;
        color: var(--color-grey-2);
        pointer-events: none;
    }
}
