<div class="container home" id="home">
    <div class="home-content">
        <div class="left-home">
            <div class="h-shape"></div>
            <div class="image">
                <img src="../../assets/img/hero.jpeg" alt="">
            </div>
        </div>
        <div class="right-home">
            <h1 class="name">
                Hi, I'm <span>Aashish Lohar.</span>
                A Frontend developer.
            </h1>
            <p>
                I build new projects just to tickle my brain. I love exploring new technologies and being a practitioner, I like to stay on top of latest trends. I’m also a front-end developer with a keen eye for creating beautiful UIs, producing quality work.
            </p>
            <div class="btn-con">
                <a href="https://drive.google.com/file/d/1T9WKRv8V4T8uDiJ3FbsH5XxgrfFLDKsV/view?usp=share_link" target="_blank" class="main-btn">
                    <span class="btn-text">Download CV</span>
                    <span class="btn-icon"> <fa-icon [icon]="faDownload"></fa-icon> </span>
                </a>
            </div>
        </div>
    </div>
</div>